{% extends 'base.html' %}

{% block content %}
<h1><center>csgo-rank-finder</center></h1>
<form method="post">
    
    <div class="form-group">
        <label for="content">Console Output</label>
        <textarea name="content" placeholder="Paste the Console Output of status command here..."
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}